<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BMR.Properties.Settings.bmrConnectionString" connectionString="Data Source=MEENU-PC;Initial Catalog=bmr;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>